html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.navbar h1{
    font-size: 3.3vmax;
    color: black;
}
.navbar sub{
    color: white;
}
.navbar .nav-link{
    font-size: large;
    font-weight: bold;
    color: white;
}
.navbar i{
    color: black;
}
.bg{
    background-color:  rgb(80, 158, 1);
}
.nav-link{
    color: black;
}
.text{
    background-image: url(images/farm.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.content{
    background-color: rgba(0, 0, 0, 0.544);
    padding-bottom: 100px;
    padding-top: 100px;
}
.col-md-6{
    padding-bottom: 20px;
    padding-top: 10px;
}
.col-md-4{
    margin-top: 20px;
}
.card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
#border .card img{
    height: 300px;
    border-radius: 0px;
}
#border .card {
    border: none;
    background-color: transparent;
}
#border .card-title{
    font-size: xx-large;
}
.card-title{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#cont .card{
    height: 330px;
}
#cont .card-text{
    font-size: large;
}
#btn{
    background-color: transparent; 
    color: white; 
    font-size: 30px; 
    border-radius: 30px; 
    margin-top: 10px; 
    width: 25vh; 
    height: 50px; 
    float: right; 
    border: solid white 1px; 
    padding: 5px;
}
#btn:hover {
    cursor: pointer;
    background-color: rgb(80, 158, 1);
    text-decoration: none;
}
#btn2{
    background-color: transparent; 
    color: white; 
    font-size: 20px; 
    float: right; 
}
#h2{
    font-size: large; 
    display: inline;
    font-weight: lighter;
}
#h3{
    font-size: large;
    display: block;
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
}
input{
    margin: 10px;
    height: 60px;
}
textarea{
    margin: 10px;
}
form .btn{
    margin: 10px;
}
#border{
    border-radius: 10px;
    padding: 10px;
    position: relative;
    bottom: 17px;
    right: 10px;
}
#contact{
    color: white;
}
.contact-bg{
    background-color: rgba(98, 189, 7, 0.748);
}
.progress{
    margin-bottom: 50px;
}
.fa-2x small{
    font-weight: bolder;
    font-size: xx-large;
}
.fab {
    font-size: x-large;
}
.text .content .card {
    background-color: transparent; 
    border: none;
}
.text .content .card-title {
    color: orange; 
    font-size: 3.5vmax; 
    text-shadow: black 2px 2px;
}
/* Media Queries */
@media screen and (min-width: 1020px){
    .text .content .card {
        width: 60%;
        margin-left: 200px;
    }
}
@media screen and (max-width: 1050px){
    .card-title img {
        width: 100%;
        height: 150px;
    }
    .card-title{
        font-size: large;
        font-weight: bolder;
    }
}
@media screen and (max-width: 420px){
    #btn2{
        font-size: 20px;
        border-radius: 10px;
        width: 110%;
    }
    #h2{
        display: none;
        position: absolute;
        z-index: -1;
    }
}
/* End of Queries */    
